.m-menu {
  width: 280px;
  background-color: rgb(44, 43, 43);
  color: #fff;
  overflow-y: auto;
}

.m-menu a {
  color: #efe3e3;
  text-decoration: none;
  cursor: pointer;
}

.m-logo-container {
  height: 56px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-logo-icon {
  height: 56px;
  width: 100%;
  border-right: 1px solid #dadada;
}

.m-menu-item {
  height: calc(100vh - 62px);
  overflow: auto;
}

.m-item-router {
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 14px;
  padding-left: 8px;
  border-left: 6px solid transparent;
  position: relative;
}

.m-item-router.active::before,
.m-item-router:hover::before {
  content: "";
  color: #fff;
  background: rgb(212, 215, 220);
  opacity: 0.2;
  width: calc(100% + 6px);
  height: 50px;
  left: -6px;
  top: 0px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .m-item-router .m-item-title {
    display: none;
  }

  .m-menu {
    width: 48px;
  }

  .m-logo-icon {
    height: 70px;
  }

  .collapse {
    left: 8px;
  }

  .collapse .m-item-title {
    display: none;
  }

  .m-navbar {
    height: 48px !important;
  }
}

.m-icon-15-fs {
  margin-right: 8px;
}